In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

df = pd.read_csv("/content/drive/My Drive/dataset/Heart_Disease_Prediction.csv")
df.head(15)

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence
5,65,1,4,120,177,0,0,140,0,0.4,1,0,7,Absence
6,56,1,3,130,256,1,2,142,1,0.6,2,1,6,Presence
7,59,1,4,110,239,0,2,142,1,1.2,2,1,7,Presence
8,60,1,4,140,293,0,2,170,0,1.2,2,2,7,Presence
9,63,0,4,150,407,0,2,154,0,4.0,2,3,7,Presence
10,59,1,4,135,234,0,0,161,0,0.5,2,0,7,Absence
11,53,1,4,142,226,0,2,111,1,0.0,1,0,7,Absence
12,44,1,3,140,235,0,2,180,0,0.0,1,0,3,Absence
13,61,1,1,134,234,0,0,145,0,2.6,2,2,3,Presence
14,57,0,4,128,303,0,2,159,0,0.0,1,1,3,Absence

In [ ]:
df2 = df[(df['Age']>35) &(df['Age']<45)]
df2

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
12,44,1,3,140,235,0,2,180,0,0.0,1,0,3,Absence
19,40,1,1,140,199,0,0,178,1,1.4,1,0,7,Absence
22,43,1,4,115,303,0,0,181,0,1.2,2,0,3,Absence
32,37,0,3,120,215,0,0,170,0,0.0,1,0,3,Absence
38,42,1,3,130,180,0,0,150,0,0.0,1,0,3,Absence
40,40,1,4,152,223,0,0,181,0,0.0,1,0,7,Presence
42,44,1,3,130,233,0,0,179,1,0.4,1,0,3,Absence
47,44,1,4,110,197,0,2,177,0,0.0,1,1,3,Presence
50,42,1,4,136,315,0,0,125,1,1.8,2,0,6,Presence
55,41,0,2,105,198,0,0,168,0,0.0,1,1,3,Absence
62,44,1,3,120,226,0,0,169,0,0.0,1,0,3,Absence
68,44,0,3,118,242,0,0,149,0,0.3,2,1,3,Absence
77,39,0,3,94,199,0,0,179,0,0.0,1,0,3,Absence
78,42,0,3,120,209,0,0,173,0,0.0,2,0,3,Absence
83,41,1,3,130,214,0,2,168,0,2.0,2,0,3,Absence
85,42,1,1,148,244,0,2,178,0,0.8,1,2,3,Absence
88,41,0,2,126,306,0,0,163,0,0.0,1,0,3,Absence
100,44,0,3,108,141,0,0,175,0,0.6,2,0,3,Absence
111,41,1,2,110,235,0,0,153,0,0.0,1,0,3,Absence
114,42,1,2,120,295,0,0,162,0,0.0,1,0,3,Absence
132,42,1,4,140,226,0,0,178,0,0.0,1,0,3,Absence
147,40,1,4,110,167,0,2,114,1,2.0,2,0,7,Presence
149,41,0,3,112,268,0,2,172,1,0.0,1,0,3,Absence
150,41,1,3,112,250,0,0,179,0,0.0,1,0,3,Absence
160,38,1,1,120,231,0,0,182,1,3.8,2,0,7,Presence
164,43,1,4,110,211,0,0,161,0,0.0,1,0,7,Absence
180,42,1,3,120,240,1,0,194,0,0.8,3,0,7,Absence
182,41,1,4,110,172,0,2,158,0,0.0,1,0,7,Presence
183,42,0,4,102,265,0,2,122,0,0.6,2,0,3,Absence
185,43,1,3,130,315,0,0,162,0,1.9,1,1,3,Absence
209,37,1,3,130,250,0,0,187,0,3.5,3,0,3,Absence
212,43,0,3,122,213,0,0,165,0,0.2,2,0,3,Absence
215,41,0,2,130,204,0,2,172,0,1.4,1,0,3,Absence
219,44,1,2,120,220,0,0,170,0,0.0,1,0,3,Absence
225,41,1,2,135,203,0,0,132,0,0.0,2,0,6,Absence
227,43,0,4,132,341,1,2,136,1,3.0,2,0,7,Presence
231,39,1,4,118,219,0,0,140,0,1.2,2,0,7,Presence
237,43,1,4,120,177,0,2,120,1,2.5,2,0,7,Presence
241,39,1,3,140,321,0,2,182,0,0.0,1,0,3,Absence
251,44,1,2,130,219,0,2,188,0,0.0,1,0,3,Absence
252,44,1,4,112,290,0,2,153,0,0.0,1,1,3,Presence
259,43,1,4,150,247,0,0,171,0,1.5,1,0,3,Absence
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,Absence

In [ ]:
X = df.iloc[:, 0:13]
y = df.iloc[:,13]
X

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split (X,y, test_size=0.1)
X_train

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
191,70,1,4,145,174,0,0,125,1,2.6,3,0,7
183,42,0,4,102,265,0,2,122,0,0.6,2,0,3
150,41,1,3,112,250,0,0,179,0,0.0,1,0,3
118,66,0,1,150,226,0,0,114,0,2.6,3,0,3
40,40,1,4,152,223,0,0,181,0,0.0,1,0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,65,1,4,110,248,0,2,158,0,0.6,1,2,6
67,58,0,2,136,319,1,2,152,0,0.0,1,2,3
9,63,0,4,150,407,0,2,154,0,4.0,2,3,7
69,47,1,3,108,243,0,0,152,0,0.0,1,0,3
112,60,0,4,158,305,0,2,161,0,0.0,1,0,3

In [ ]:
  from sklearn.svm import SVC

  clf = SVC()
  clf = clf.fit(X_train, y_train)
  y_pred = clf.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

print(accuracy_score(y_pred, y_test) )

0.7037037037037037